<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div *ngIf="show" >
    <form action="">
   
        New Password:  <input type="password"><br>
        Confirm Password:  <input type="password"><br>
        <button class="btn btn-info"  (click)="showReset()">Reset</button>
        
    </form>
</div>
<h1>{{reset}}</h1>
</body>
</html>
