
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><br>
    <h1>Feedback</h1>
    <br>
  <table>
      <tr>
        <th>stars</th>
        <th>Experience</th>
        <th>Reply</th>
        
      </tr>
      <tr>
        <td>5</td>
        <td>good experience</td>
        <td><button class="btn btn-info">reply</button></td>
       
      </tr>
      <tr>
        <td>4</td>
        <td>very good</td>
        <td><button class="btn btn-info">reply</button></td>
       
      </tr>
      <tr>
        <td>3</td>
        <td>average</td>
        <td><button class="btn btn-info">reply</button></td>
       
      </tr>
      <tr>
        <td>5</td>
        <td>Awesome</td>
        <td><button class="btn btn-info">reply</button></td>
       
      </tr>
    
        
     
    </table>
    
</body>
</html>