table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 80px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  background-image: linear-gradient(135deg, #d7d2cc 10%, #0a4069 100%);
  color: black;
}
td{
 
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  
  background-image: linear-gradient(135deg, #d7d2cc 10%, #457aa3 100%);
  
  color: black;
}

tr:nth-child(even) {
  background-image: linear-gradient(135deg, #d7d2cc 10%, #0a4069 100%);
  color: black;
}
html,body{
  height: 100vh;
  width: 100vw;
  text-align: center;
}