<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <router-outlet></router-outlet>
    <div class="wrapper" >
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
               <h3>Admin</h3>
            </div>
    
            <ul class="list-unstyled components">
               <br>
                
                <li>
                    <a [routerLink]="" (click)="onClickUserData()">User Data</a>
                    
                </li>
                <br>
                <br>
                <li>
                    <a [routerLink]="" (click)="onClickAppointmentsBooked()">Appointments Booked</a>
                </li>
                <br><br>
                <li>
                    <a [routerLink]="" (click)="onClickCancelAppointments()">Cancel Appointments</a>
                </li>
                <br><br>
                <li>
                    <a [routerLink]="" (click)="onClickFeedback()" >Feedback</a>
                </li>
                <br><br>
                <li>
                    <a href="">Logout</a>
                </li>
            </ul>
           
    
            
        </nav>
    
        <!-- Page Content  -->
        <div id="content" style="text-align: center;">
    
            
    
            
            
        </div>
    </div>
    
</body>
</html>