<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <router-outlet></router-outlet>
  <div *ngIf="show">
    <br><br>
    <h1>Admin login</h1>

    <form [formGroup]="adminLoginForm" (ngSubmit)="getData()">
    
    Enter your Email Id:      <input type="email" name="email" formControlName="email"><br>
    <span *ngIf="email && email.invalid && email.touched">This Field is not valid</span><br>
    Enter your password:      <input type="password" name="password" formControlName="password"><br>
    <span *ngIf="password && password.invalid && password.touched">This Field is not valid</span><br>
    <button type="submit" class="btn btn-primary" [disabled]="adminLoginForm.invalid" >Login</button><br>
  
  
  
    
</form>
</div>
    
    

  

</body>

</html>