<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <h1>Cancel Bookings</h1>
  <br>
<table>
    <tr>
      <th>Name</th>
      
      <th>Address</th>
      <th>Email</th>
      <th>Timings</th>
      <th>Cancel Booking</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds665@gmail.com</td>
      <td>10Am-11Am</td>
     
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    <tr>
      <td>prasad</td>
      <td>bangalore</td>
      <td>prasad605@gmail.com</td>
      <td>5Pm-11Pm</td>
     
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    <tr>
      <td>latha</td>
      <td>mangalore</td>
      <td>lath555@gmail.com</td>
      <td>1pm-2Pm</td>
     
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    <tr>
      <td>ram</td>
      <td>hyderabad</td>
      <td>ram355@gmail.com</td>
      <td>3pm-4Pm</td>
     
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    <tr>
      <td>ramesh</td>
      <td>mumbai</td>
      <td>ddd123@gmail.com</td>
      <td>3pm-4Pm</td>
     
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    <tr>
      <td>suresh</td>
      <td>pune</td>
      <td>suresh123@gmail.com</td>
      <td>6pm-7Pm</td>
     
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    <tr>
      <td>ananya</td>
      <td>kerala</td>
      <td>anan123@gmail.com</td>
      <td>1pm-2Pm</td>
     
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    
    
   
   
  </table>

</body>
</html>