<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <h1>Cancel Bookings</h1>
  <br>
<table>
    <tr>
      <th>Name</th>
      
      <th>Address</th>
      <th>Email</th>
      <th>Timings</th>
      <th>status</th>
      <th>Ccancel Booking</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Alfreds Futterkiste</td>
      <th><button class="btn btn-danger">cancel</button></th>
    </tr>
    
   
   
  </table>

</body>
</html>