<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <router-outlet></router-outlet>
    <h1>Garage Areas</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card"><div class="card-bosy">
                <h2>Bangalore</h2>
                <h4>Marathalli, Bangalore, Karnataka - 560037</h4>
               <img src="https://th.bing.com/th/id/OIP.IsI24IhQ5pyHLgQoSxcaLwHaFj?pid=ImgDet&rs=1" alt=""> <br>
               <button class="btn btn-secondary"><a routerLink="/userLogin/user/garageAreas/book">Check</a></button>
            </div></div>
        </div>
        <div class="col-md-4">
            <div class="card"><div class="card-bosy">
                <h2>Mumbai</h2>
                <h4>B M C Industrial Estate, Kandivali West - 400067</h4>
               <img src="https://th.bing.com/th/id/OIP.cquUxb5IJsttA7TnJYppWgHaEK?pid=ImgDet&rs=1" alt=""> <br>
               <button class="btn btn-secondary"><a routerLink="/userLogin/user/garageAreas/book">Check</a></button>
            </div></div>
        </div>
        <div class="col-md-4">
            <div class="card"><div class="card-bosy">
                <h2>Chennai</h2>
                <h4>48/5 Arcot Road Saligramam - 600093</h4>
               <img src="https://th.bing.com/th/id/OIP.l0pJ2pMWRocMHgbIZbSzxgHaEo?pid=ImgDet&rs=1" alt=""> <br>
               <button class="btn btn-secondary"><a routerLink="/userLogin/user/garageAreas/book">Check</a></button>
            </div></div>
        </div>
    </div>
    <br><br>
    <div class="row" align-items-center>
        <div class="col-md-4" offset-md-23>
            <div class="card"><div class="card-bosy">
                <h2>Hyderabad</h2>
                <h4>Block No 36, Auto Nagar, Hyderabad - 500070</h4>
               <img src="https://www.hdnicewallpapers.com/Walls/Big/Bugatti/Bugatti_Veyron_Blue_and_Black_Car.jpg" alt=""> <br>
               <button class="btn btn-secondary"><a routerLink="/userLogin/user/garageAreas/book">Check</a></button>
            </div></div>
        </div>

        <div class="col-md-4">
            <div class="card"><div class="card-bosy">
                <h2>Kerala</h2>
                <h4>Block No 36, Auto Nagar, Hyderabad - 500070</h4>
               <img src="https://www.hdnicewallpapers.com/Walls/Big/Bugatti/White_Bugatti_Car_HD_Wallpaper.jpg" alt=""> <br>
               <button class="btn btn-secondary"><a routerLink="/userLogin/user/garageAreas/book">Check</a></button>
            </div></div>
        </div>
        
    </div>
    
</body>
</html>