<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="services">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            Garage Area 1<br>
                            <img src="https://th.bing.com/th/id/OIP.XqOz6_Yu3eGt1-LIx4GILgHaD4?w=305&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                            <br><br><button class="btn btn-secondary"><a [routerLink]="" (click)="onClickGarageArea()" style="text-size:large; color:white; text-decoration: none;">Details</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            Garage Area 2<br>
                            <img src="https://th.bing.com/th/id/OIP.G4nowkRAQds7TuIDSXf7VgHaDj?w=301&h=167&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                            <br><br><button class="btn btn-secondary"><a [routerLink]="" (click)="onClickGarageArea()" style="text-size:large; color:white; text-decoration: none;">Details</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            Garage Area 3<br>
                            <img src="https://th.bing.com/th/id/OIP.DLP7AkCGOZsnhUqSQN8qtgHaE8?w=239&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                            <br><br><button class="btn btn-secondary"><a [routerLink]="" (click)="onClickGarageArea()" style="text-size:large; color:white; text-decoration: none;">Details</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            Garage Area 4<br>
                            <img src="https://th.bing.com/th/id/OIP.n3JaYVu3NMFhJkDld4QfewHaHa?w=179&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                            <br><br><button class="btn btn-secondary"><a [routerLink]="" (click)="onClickGarageArea()" style="text-size:large; color:white; text-decoration: none;">Details</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div><div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            Garage Area 5<br>
                            <img src="https://th.bing.com/th/id/OIP.n3JaYVu3NMFhJkDld4QfewHaHa?w=179&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                            <br><br><button class="btn btn-secondary"><a [routerLink]="" (click)="onClickGarageArea()" style="text-size:large; color:white; text-decoration: none;">Details</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

     
        
    </section>
    
</body>
</html>