
    <div class="container h-100" >
        <div class="row h-100 align-items-center">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="card">
                    <div class="card-body">
                <h1>Book an Appointment</h1>
                
                <form action="">
                    Select Date:   <input type="date"><br><br>
                    

                
                
                
                    Select Time:       <select name="month" id="select_languages">
                    <option value="">Select Time</option>
                    <option value="slot1">9.00Am-10.00Am</option>
                    <option value="slot2">10.00Am-11.00Am</option>
                    <option value="slot3" >11.00Am-12.00Am</option>
                    <option value="slot4">12.00Am-1.00pm</option>
                    <option value="slot5">1.00Pm-2.00PM</option>
                    <option value="slot6">2.00Pm-3.00Am</option>
                    <option value="slot7">3.00Pm-4.00Am</option>
                    <option value="slot8" >4.00Pm-5.00Am</option>
                    <option value="slot7">5.00Pm-6.00Am</option>
                    <option value="slot8" >6.00Pm-7.00Am</option>
                    
                    
                </select>

                <br><br><br>
                Select Vehicle Time:          <select name="vehicle" id="select_languages">
                    <option value="">Select</option>
                    <option value="car">car</option>
                    <option value="bike">bike</option>
                    <option value="scooter" >scooter</option>
                    
                    
                    
                </select>

          

                <br>
                
                <br>
                check availability<input type="submit">

                </form>
                <button class="btn btn-primary">Book an Appointment</button>
                </div></div>
            </div>

        </div>
       
    </div>
