.h-100{
    height: 100%;
    width: 100%;
}
.card{
    height: 600px;
    width: 800px;
    background: rgb(91, 192, 222);
    margin: 2rem;
    padding: 2rem;
}
input{
    margin: 2rem;
}
button{
    margin: 2rem;
}