<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Appointments Booked</h1>
<table>
    <tr>
      <th>Name</th>
      
      <th>Garage Name</th>
      <th>Location</th>
      <th>vehicle</th>
      <th>Timings</th>
      <th>Status</th>
      

    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>R & N Motor Company</td>
      <td>Marathalli, Bangalore, Karnataka - 560037</td>
      <td>bike</td>
      <td>10Am-11Am</td>
      <td>booked</td>
      
      
    </tr>
    <tr>
      <td>prasad</td>
      <td>Lakeside Car Company</td>
      <td>B M C Industrial Estate, Kandivali West - 400067</td>
      <td>car</td>
      <td>5Pm-11Pm</td>
      <td>canceled</td>
     
      
      
    </tr>
    <tr>
      <td>latha</td>
      <td>Bransfield Motor Company</td>
      <td>48/5 Arcot Road Saligramam - 600093</td>
      <td>scooter</td>
      <td>1pm-2Pm</td>
      <td>booked</td>
      
    </tr>
    <tr>
      <td>ram</td>
      <td>Cooper Tire & Rubber Company.</td>
      <td>Block No 36, Auto Nagar, Hyderabad - 500070</td>
      <td>car</td>
      <td>3pm-4Pm</td>
      
    <td>booked</td>
      
    </tr>
    <tr>
      <td>ramesh</td>
      <td>General Automotive Service</td>
      <td>Block No 36, Auto Nagar, Hyderabad - 500070</td>
      <td>car</td>
      <td>6pm-7Pm</td>
      
      <td>canceled</td>
      
    </tr>
    <tr>
      <td>suresh</td>
      <td>Lakeside Car Company</td>
      <td>B M C Industrial Estate, Kandivali West - 400067</td>
      <td>bike</td>
      <td>1Pm-2Pm</td>
      
      <td>booked</td>
      
    </tr>
    <tr>
      <td>Ananya</td>
      <td>Bransfield Motor Company</td>
      <td>48/5 Arcot Road Saligramam - 600093</td>
      <td>car</td>
      <td>1pm-2Pm</td>
      
      <td>canceled</td>
      
    </tr>
    <tr>
      <td>ram</td>
      <td>Cooper Tire & Rubber Company.</td>
      <td>Block No 36, Auto Nagar, Hyderabad - 500070</td>
      <td>bike</td>
      <td>4pm-5Pm</td>
      
    <td>booked</td>
      
    </tr>




    
  
  </table>

</body>
</html>