<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
           <h3>Garage Services</h3>
        </div>

        <ul class="list-unstyled components">
           <br>
            <li>
                <a href="#">Home</a>
            </li>
            <br>
            <br>
            <li>
                <a href="#">Book New Appointment</a>
            </li>
            <br>
            <br>
            <li>
                <a href="#">Check Appointments</a>
            </li>
            <br><br>
            <li>
                <a href="#">Cancel Appointments</a>
            </li>
            <br><br>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <br><br><br>

        
    </nav>

    <!-- Page Content  -->
    <div id="content">

        

        <h2>Online booking and
            appointment scheduling
            software for Vehicles garage in India</h2>
       <p>Book now, don’t pay until the day. BookMyGarage is the fastest, easiest and most transparent way to search for, compare and book car servicing & MOTs. Over 5 million drivers have had instant prices to book a garage via the BookMyGarage </p>

        
    </div>
</div>
