<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <h1>User Data</h1>
  <br>
<table>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>abc1234</td>
      <td>Germany</td>
      <td>Alfreds665@gmail.com</td>
      <td>9174565763</td>
    </tr>
    <tr>
      <td>prasad</td>
      <td>nhnmgj1234</td>
      <td>bangalore</td>
      <td>prasad605@gmail.com</td>
      <td>9174575763</td>
    </tr>
    <tr>
      <td>latha</td>
      <td>eeej1234</td>
      <td>mangalore</td>
      <td>lath555@gmail.com</td>
      <td>9174575760</td>
    </tr>
    <tr>
      <td>ram</td>
      <td>hhhj1234</td>
      <td>hyderabad</td>
      <td>ram355@gmail.com</td>
      <td>9174575767</td>
    </tr>
    <tr>
      <td>ramesh</td>
      <td>kkkj1234</td>
      <td>mumbai</td>
      <td>ddd123@gmail.com</td>
      <td>9174575765</td>
    </tr>
    <tr>
      <td>suresh</td>
      <td>sureshj1234</td>
      <td>pune</td>
      <td>suresh123@gmail.com</td>
      <td>9174575761</td>
    </tr>
 
    <tr>
      <td>ananya</td>
      <td>ananj1234</td>
      <td>kerala</td>
      <td>anan123@gmail.com</td>
      <td>9174575768</td>
    </tr>
    
    
  </table>
</body>
</html>