input{
    height: 2.5rem;
    width: 20rem;
}

form{
    
    width: 700px;
    height:500px;text-align: center;
    padding-top: 2rem;
    margin-left: 500px;
    margin-bottom: 100px;
    color: white;
    background-color: #3F729B;
    border-radius: 25px;
   
    
}
h1{
    text-align: center;margin-top: 4rem;color: white;font-weight: bold;font-family: 'Dancing Script', cursive;font-size: xx-large;
}
body{
    
    background-size: cover;
    height: 100vh;
    width:100vw
}
a{
    cursor: pointer;
    text-decoration: underline;
}
span{
    color: red;
    font-size: 1rem;
}
